<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.dao.NewsDao">

	<select id="findAll" resultType="EasyBuyNews">
		SELECT 	enId, 
		title, 
		content, 
		createTime
		FROM 
		easybuy.easybuynews 
	</select>
	
</mapper>